@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    padding: 0px;
    margin: 0px;
    

}
html, body{
    min-height: 100%vh;
    background-color: darkgray;
    font-family: var(--fonte1);

}
header{
    background-color: black;
    color: white;
    text-align: center;

}

header>h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte3);
    font-size: 10vw;
}
header>h2{
    padding-bottom: 50px;
}
footer a, header a{
    color: white;
    text-decoration: none;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}
section.normal{
    background-color: white;
    color: black;

}
section.imagem{
    background-color: blueviolet;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.400);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;

}
section>p{
    padding-bottom: 2em;
}
section.imagem>p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.685);
    padding: 5px;
    text-shadow: 1px 1px 1px black;
    
}
section#primeira{
    background-image: url(Imagens/background001.jpg);
    
    
}
section#segunda{
    background-image: url(Imagens/background002.jpg);
    
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}